@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
}

/* For system preference dark mode (if used) */
@media (prefers-color-scheme: dark) {
  body {
    @apply bg-background text-surface;
  }
}

/* Override all dark styles in print mode to always render light theme */
@media print {
  * {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
    filter: none !important;
  }
}
